:root {
    /* Tonos azules y fríos */
    --azul-oscuro: #254d7a;
    --azul-medio: #5f81a5;
    --azul-claro: #99b2cb;
    --celeste-palido: #c7dae2;
  
    /* Tonos tierra y marrones */
    --marron-oscuro: #513729;
    --marron-medio: #724b37;
    --marron-suave: #7f7367;
  
    /* Tonos verdes */
    --verde-oscuro: #525b32;
    --verde-medio: #727d39;
    --verde-lima: #9b9c3d;
  
    /* Neutros y grises */
    --gris-medio: #a6a8a7;
    --gris-claro: #dfe5e0;
    --gris-hueso: #e8e7e1;
  
    /* Arena y dorados */
    --arena-clara: #e0cea3;
    --dorado-suave: #e29046;
    --dorado-pastel: #fee2a4;
  
    /* Beige / Crema */
    --beige-claro: #f5edd7;
  }

  @font-face {
    font-family: 'Regular';
    src: url('fonts/against\ regular.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'Beauty';
    src: url('fonts/Beauty\ Swing\ Personal\ Use\ Only.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Daisybud';
    src: url('fonts/DaisybudScript_PERSONAL_USE_ONLY.otf') format('opentype');
  }

  @font-face {
    font-family: 'Outline';
    src: url('fonts/Outline.ttf') format('truetype');
  }


    *,
    *::before,
    *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    html, body {
        width: 100%;
        overflow-x: hidden;
      }
    
      body {
      font-family: 'Outfit', sans-serif;
      background-color: #f5f5f5;
      }

      main {
        scroll-snap-type: y mandatory;
        overflow-y: scroll;
        height: 100dvh;
      }
      
      header {
        background-color: var(--azul-claro);
        color: white;
        padding: 10px 0;
      }

  .header-content p {
    text-align: center;
    font-size: 14px;
  }
  
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: var(--gris-claro);
}

    .nav-list {
        list-style: none;
        display: flex;
        gap: 30px;
    }

    .nav-list li a {
        text-decoration: none;
        color: var(--marron-oscuro);
        font-size: 18px;
        transition: color 0.3s ease;
     }


    .nav-list li a:hover {
        color: var(--azul-claro);
    }
    
    /* Estilos para la barra de hamburguesa */
    .hamburger {
        display: none; /* Se oculta en pantallas grandes */
        font-size: 30px;
        cursor: pointer;
        color: white;
    }
    /* primera parte */
  
  .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: white;
    
  }

  .hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .hero-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Centra horizontalmente */
    text-align: center;  /* Alinea el texto */
    padding: 20px;
    min-height: 400px; /* Asegura altura para centrado */
  }
  .hero-text h1 {
    font-size: 98px;
    color: #333;
    font-family: beauty;
    text-transform: uppercase;
    color: var(--celeste-palido);
  }
  
  .hero-text p {
    font-size: 18px;
    color: #666;
  }
  
  .hero-image {
    width: 50%;
  }
  
  .hero-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  /* seccion 2 */
  .seccion-dos {
    height: 100dvh;
    background-color: var(--gris-claro); /* O el color que quieras */
    display: flex;
    flex-direction: column;
    justify-content: center;   /* Centra vertical */
    align-items: center;       /* Centra horizontal */
    gap: 16px; /* espacio entre el título y el botón */
    text-align: center;
    padding: 20px;
    animation: aparecer 1s ease-out forwards;  /* Animación de entrada */

  }
  
  @keyframes aparecer {
    0% {
      opacity: 0;
      transform: translateY(20px);  /* Empieza desde abajo */
    }
    50% {
      opacity: 1;
      transform: translateY(-10px); /* Sube un poquito */
    }
    100% {
      opacity: 1;
      transform: translateY(0); /* Llega a su lugar final */
    }
  }

  /* Título */
  .titulo-seccion, .construcción-h2{
    font-family: beauty;
    font-size: 3rem;
    color: var(--marron-oscuro);
    margin: 0;
   }

   .titulo-seccion span, .construcción-h2 span{
    font-family: daisybud;
   }

   .construcción-h2 span{
    margin-right: .5rem;
   }


  .boton-seccion {
    padding: 12px 24px;
    background-color: var(--azul-claro);
    color: white;
    font-family: var(--fuente-texto);
    font-size: 1rem;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    animation: rebote 1s ease-out 0.5s forwards;  /* Rebote */


  }

  @keyframes rebote {
    0% {
      opacity: 0;
      transform: translateY(20px); /* Empieza abajo */
    }
    50% {
      opacity: 1;
      transform: translateY(-10px); /* Salta un poquito */
    }
    100% {
      opacity: 1;
      transform: translateY(0); /* Queda en su lugar final */
    }
  }
  
  
  .boton-seccion:hover {
    background-color: var(--beige-claro);
    color: var(--azul-claro);
  }

  .seccion-portfolio {
    height: 100dvh;
    background-color: var(--beige-claro); /* O el color que prefieras para el fondo */
    display: flex;
    flex-direction: column;
    justify-content: center;  /* Centrado vertical */
    align-items: center;      /* Centrado horizontal */
    text-align: center;
  }
  .seccion-portfolio h1 {
    font-family: beauty;
    font-size: 5rem;
    color: var(--marron-oscuro);
    margin: 0;
    text-transform: uppercase;
  }
  
  .seccion-portfolio span {
    font-family: daisybud;
    margin-right: .8rem;
  }
  /* Estilo para el 2025 */
  .anio p {
    font-family: beauty;
    font-size: 2.5rem;
    color: var(--marron-medio);
   
  }  

  .seccion-presentacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100dvh; /* Asegura que ocupe toda la altura de la pantalla */
    padding: 140px;
    background-color: var(--gris-claro);

  }
  
  .foto {
    position: relative;
    width: 40%;
    height: 100%; /* Asegura que la foto tenga la altura completa */
    
}
  
  .foto img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* La imagen cubre toda el área sin deformarse */
   }

   .foto:hover .sticker {
    transform:  scale(1.2); /* Agranda el sticker al pasar el mouse */
  }

   .texto {
    width: 55%;
    color: var(--marron-oscuro);
    height: 100%; /* Asegura que el contenido de texto ocupe la misma altura */
    display: flex;
    flex-direction: column;
    justify-content: center;  /* Centrado vertical */
  }
  
  .titulo {
    font-family: beauty;
    font-size: 2.5rem;
    margin-bottom: 16px;
    text-transform: uppercase;
  }

  .presentacion {
    font-family: var(--fuente-texto);
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 16px;
  }
  
  h3 {
    font-family: Beauty;
    font-size: 2rem;
    margin-top: 20px;
    text-transform: uppercase;
  }
  .contactos {
    list-style-type: none;
    padding: 0;
  }
  .contactos a {
    font-family: var(--fuente-texto);
    font-size: 1.2rem;
    color: var(--marron-suave);
    text-decoration: none;
    display: flex;
    align-items: center;  /* Alinea los íconos con el texto */
    transition: color 0.3s ease;
    margin-top: 1rem;
  }

  .contactos a i {
    margin-right: 8px;  /* Espacio entre el ícono y el texto */
    font-size: 1.5rem;  /* Tamaño del ícono */
  }
  
  .contactos a:hover {
    color: var(--marron-oscuro);  /* Color al pasar el mouse */
  }
  
  .contactos a i:hover {
    color: var(--marron-oscuro);  /* Cambia el color del ícono también */
  }

  .sticker {
    position: absolute;
    top: -30px;
    right: -10px;
    max-width: 110px;  /* Tamaño del sticker */
    height: 110px;
    transition: transform 0.3s ease; 
    
  }

  .sticker img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;  /* Ajusta el sticker a la imagen */
  }

  /* sección resume */

  .seccion-resume {
    height: 100dvh;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fffefc;
    text-align: center;
  }

  .title-seccion {
    font-size: 4rem;
    font-family: beauty;
    color: var(--marron-suave);
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  .contenido-resume {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    max-width: 1000px;
    margin: 0 auto;
    text-align: left;
  }

  .columna {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  .bloque h3 {
    font-size: 40px;
    margin-bottom: 10px;
    color: #333;
  }

  .lista{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .lista li strong {
    font-size: 18px;
    color: var(--marron-medio);
    display: block;
    margin-bottom: 5px;
  }

  .habilidades li
  {
    font-size: 18px;
    color: var(--marron-medio);
    display: block;
    margin-bottom: 5px;
    font-weight: bolder;
  }
  .bloque p {
    font-size: 16px;
    color: #555;
  }

  .habilidades {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .habilidades li {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .estrellas {
    color: var(--dorado-pastel);
    font-size: 18px;
  }

  /* en construcción  */
  .seccion-construccion {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fffefc;
    text-align: center;
    padding: 40px 20px;
  }

  .construcción-h3 {
    font-size: 1.5rem;
    color: var(--azul-claro);
    font-family: poppins;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  .construcción-h2 {
    font-size: 4rem;
    font-family: beauty; /* o el que estés usando para títulos */
    color: var(--marron-suave);
    animation: latido 1.5s infinite;
  }

  @keyframes latido {
    0%, 100% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.05);
      opacity: 0.85;
    }
  }

     /* footer */
     .footer {
        background-color: var(--gris-claro); /* Color suave para el fondo */
        color: #fff; /* Color blanco para el texto */
        padding: 10px 10px;
        text-align: center;
        position: relative;
        bottom: 0;
        width: 100%;
    }

    .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        color: var(--marron-medio);

    }

    
    
    .footer-right a {
        font-size: 24px;
        margin: 0 15px;
        transition: all 0.3s ease;
        color: var(--marron-medio);

    }
    
    .footer-right a:hover {
        color: var(--marron-oscuro); /* Cambio de color al pasar el mouse */
        transform: scale(1.1); /* Efecto de zoom */
    }
  /* MEDIA QUERIES */

  @media (max-width: 768px) {
    .sticker {
      animation: moverSticker 2s infinite alternate;
    }
  
    /* Animación para mover el sticker ligeramente en móviles */
    @keyframes moverSticker {
      0% {
        transform: translate(-50%, -50%) rotate(0deg);
      }
      50% {
        transform: translate(-55%, -55%) rotate(5deg);  /* Mueve y rota el sticker */
      }
      100% {
        transform: translate(-50%, -50%) rotate(0deg);
      }
    }
  }

  @media (max-width: 768px) {
    .hero {
        padding: 30px 20px;}

          .hero-image img {
            max-width: 90%;
            margin: 0 auto;
          }
    /* Ajustes para la foto y sticker en móviles */
    .foto{
      height: auto;
      justify-content: center;
      align-items: center;
    }
    .sticker  {
        top: 5px;
        right: -40px;
        max-width: 80px;  /* Tamaño del sticker */
        height: 80px
      }
    
      .titulo {
        font-size: 1.8rem;
      }
    
      .presentacion {
        font-size: 0.9rem;
      }
    
      .contactos a {
        font-size: 0.9rem;
      }
    }

    @media (max-width: 1020px) {
        .hero-content {
            flex-direction: column;
            text-align: center;
          }
          .hero-text,
          .hero-image {
            width: 100%;
          }

          .seccion-portfolio h1 {
            font-size: 3.7rem;
          }
          .hero h1 {
            font-size: 5rem;
          }

          .seccion-presentacion {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            gap: 20px;
            height: auto;
          }

          .foto {
            width: 60%;
            position: relative;
          }
        
          .foto img {
            width: 100%;
            border-radius: 12px;
          }

          .seccion-resume {
            height: auto; /* Dejá que la altura se ajuste al contenido */
            padding: 40px 20px;
          }

          .contenido-resume {
            grid-template-columns: 1fr; /* Una sola columna en celular */
            gap: 30px;
          }    
          
          .bloque h3 {
            font-size: 28px;
            text-align: center;
          }
        
          .lista li strong,
          .habilidades li {
            font-size: 16px;
          }
        
          .estrellas {
            font-size: 16px;
          }

          .footer-content {
            flex-direction: column;
            text-align: center;
        }
        .footer-left p {
            margin-bottom: 10px;
        }
        .footer-right {
            margin-top: 10px;
        }
        .nav-list {
            position: absolute;
            top: 70px;
            right: 0;
            background-color: var(--gris-claro);
            width: 100%;
            display: none; /* Se oculta por defecto */
            flex-direction: column;
            gap: 20px;
            padding: 20px;
            text-align: center;
         }

        .nav-list.active {
            display: flex; /* Muestra la lista cuando se activa */
        }
    
        .hamburger {
            display: block; /* Muestra la barra de hamburguesa en pantallas pequeñas */
        }
    
        .nav-list li a {
            font-size: 18px;
            font-weight: normal;
        }
    }

   